/* Bottem Nav */
.bottomNav {
  background-color: #54565b;
  width: 100%;
}

.BNMaxW {
  width: 1200px;
  margin: 0px auto 0px auto;
  padding: 60px 30px;
}

.BNMaxW h5 {
  color: #7c7f81;
  font-size: 21px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.BNMaxW li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 19px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.BNMaxW li {
  padding: 15px 0px;
}

/* Medium devices (Small Mobile phones, 400px to 599px) */
@media only screen and (min-width: 400px) {
  /* Bottem Nav */
}

/* Mobile devices (large Mobile phones, 600px to 767px) */
@media only screen and (min-width: 600px) {
  /* Bottem Nav */
}

/* Medium devices (Ipad, 768px and 1023px) */
@media only screen and (min-width: 768px) {
  /* Bottem Nav */
}

/* Medium devices (Ipad Pro 1024px and 1223px) */
@media only screen and (min-width: 1024px) {
  /* Bottem Nav */
}

/* laptops devices (laptops, 1224px and 1823px) */
@media only screen and (min-width: 1224px) {
}

/* Desktops (Desktops, 1824px and up) */
@media only screen and (min-width: 1824px) {
}

/* Large Desktops devices (Desktops, 1920px and up) */
@media only screen and (min-width: 1920px) {
}
