@font-face {
  font-family: "AGENCYB";
  src: url("../fonts/AGENCYB.ttf") format("truetype"),
    url("AGENCYB.ttf") format("truetype");
}
@font-face {
  font-family: "AGENCYR";
  src: url("../fonts/AGENCYR.ttf") format("truetype"),
    url("AGENCYR.ttf") format("truetype");
}
@font-face {
  font-family: "NickyLaatzJustLovely";
  src: url("../fonts/NickyLaatzJustLovely.ttf") format("truetype"),
    url("../fonts/NickyLaatzJustLovely.otf") format("opentype");
}

/* FullScreen Image */
/* Note the Background-image will need ID to be added on every page CSS */
.FsI {
  /*background-image: url("../images/homepage/header/heroImage.png");*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
  min-height: 400px;
  padding: 0% 0% 0% 0%;
}

/* Medium devices (Small Mobile phones, 400px to 599px) */
@media only screen and (min-width: 400px) {
}

/* Mobile devices (large Mobile phones, 600px to 767px) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (Ipad, 768px and 1023px) */
@media only screen and (min-width: 768px) {
  .FsI {
    /*background-image: url("../images/homepage/header/heroImage.png");*/
    min-height: 600px;
  }
}

/* Medium devices (Ipad Pro 1024px and 1223px) */
@media only screen and (min-width: 1024px) {
}

/* laptops devices (laptops, 1224px and 1823px) */
@media only screen and (min-width: 1224px) {
}

/* Desktops (Desktops, 1824px and up) */
@media only screen and (min-width: 1824px) {
  .FsI {
    /*background-image: url("../images/homepage/header/heroImage.png");*/
    min-height: 750px;
  }
}

/* Large Desktops devices (Desktops, 1920px and up) */
@media only screen and (min-width: 1920px) {
}
